<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <title>NodeJS Visitor Count</title>
    </head>

    <body>
        <div class="nav-bar">
            <div class="site-name">NodeJS</div>
            <div class="nav-subdiv">
                <a href="/"><div class="nav-option active">Home</div></a>
                <a href="/product"><div class="nav-option">Product</div></a>
                <a href="/contact"><div class="nav-option">Contact</div></a>
            </div>
        </div>

        <div class="container-main">
            <h1>Home</h1>
            <p class="count">Website visited: 0 times</p>
        </div>
    </body>
</html>
